version: '3.8'

volumes:
  postgres_data:
  static_volume:
  media_volume:

services:
  db:
    image: postgres:12.4
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
  web:
    build: .
    restart: always
    expose:
      - 8000
    depends_on:
      - db
    env_file:
      - ./.env
    volumes:
      - static_volume:/code/static
      - media_volume:/code/media/
  nginx:
    image: nginx:1.19.6
    ports:
      - 80:80
    depends_on:
      - web
    volumes:
      - static_volume:/code/static
      - media_volume:/code/media/
      - ./nginx:/etc/nginx/conf.d
