{% extends 'base.html' %}
{% block title %}
    Рецепты
{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="author-subscribe" data-author="{{ author.id }}">
        {% load user_filters %}
            {% if request.user.is_authenticated and request.user != author %}
                {% if author|is_subscribe:user %}
                    <p style="padding: 0 0 2em 0;">
                        <button class="button button_style_light-blue button_size_auto" name="subscribe">
                            Отписаться от автора
                        </button>
                    </p>
                {% else %}
                    <p style="padding: 0 0 2em 0;">
                        <button class="button button_style_light-blue button_size_auto"
                                name="subscribe" data-out>Подписаться на автора
                        </button>
                    </p>
                {% endif %}
            {% endif %}
        </div>
    <div class="card-list">
        {% for recipe in page %}
            {% include 'recipe/recipe_item.html' %}
        {% endfor %}
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/authorRecipe.js' %}"></script>
{% endblock %}