{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}Технологии{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="custom-center-block">
            <h1 class="main__title">Технологии</h1>
            <dl>
<p><strong>Soon...</strong></p>
<ol>
  <li>SSoon...</li>
  <li>Soon...</li>
  <li>Soon...</li>
  <li>Soon...</li>
  <li>Soon...</li>
</ol> 
            </div>
        </div>
    </main>
{% endblock %}
